<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Car Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

	<div class="container">
	<h1 class="text-center">Car Renting Management System</h1>
	<hr>
	<h2>Cars List</h2>
	<hr>

	
	<a th:href = "@{/car/showNewCarForm}" class="btn btn-primary btn-sm mb-3"> Add Car </a>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/car/page/' + ${currentPage} + '?sortField=brand&sortDir=' + ${reverseSortDir}}">
							Brand </a>
					</th>
					<th>
					<a th:href="@{'/car/page/' + ${currentPage} + '?sortField=model&sortDir=' + ${reverseSortDir}}">
							Model</a>
					</th>
					<th>
					<a th:href="@{'/car/page/' + ${currentPage} + '?sortField=licesnsePlate&sortDir=' + ${reverseSortDir}}">
							Licence Plate</a>
					</th>
										<th>
					<a th:href="@{'/car/page/' + ${currentPage} + '?sortField=client&sortDir=' + ${reverseSortDir}}">
							Renter</a>
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="car : ${listCars}">
					<td th:text="${car.brand}"></td>
					<td th:text="${car.model}"></td>
					<td th:text="${car.licesnsePlate}"></td>
					<td th:text="${car.client != null} ? ${car.client.firstName} + ' ' + ${car.client.lastName} : '--NOT RENTED--' "	></td>
					<td> <a th:href="@{/car/showFormForUpdate/{id}(id=${car.id})}" class="btn btn-primary">Update car</a>
					    <a th:href="@{/car/deleteCar/{id}(id=${car.id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	
			<a href="/client/">Go to the clients list...</a>
		<hr>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-2">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/car/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/car/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/car/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
	<br>
</body>
</html>