<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Car Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

	<div class="container">
	<h1 class="text-center">Car Renting Management System</h1>
	<hr>
	
	<p class="text-center">
	<i > Welcome to Car Renting Management System - the best system for Car Rental Companies</i>
	</p>
	<hr>
	<a href="/car/"><h2>Customers List</h2></a>
	<i > For your rental management...</i>

	<hr>
	<a href="/car/"><h2>Cars List</h2></a>
	<i > For your cars management...</i>
	<hr>
	
	<p class="text-right">
	<i > Developed by <a href="https://www.linkedin.com/in/oskar-furmanczuk/"> Oskar Furmanczuk </a></i>
	</p>

	</div>
</body>
</html>